
<div id="container">
  <%= image_tag "container.png"%>
</div>

  <div id="outer-shell">
    <div id="left-container">
      <div class="container-row">
        <div class="container-box"></div>
        <div class="container-box"></div>
        <div class="container-box"></div>
        <div class="container-box"></div>
      </div>
      <div class="container-row">
        <div class="container-box"></div>
        <div class="container-box"></div>
        <div class="container-box"></div>
        <div class="container-box"></div>
      </div>
    </div>
    <div id="mid-container">
      <div class="container-row">
        <div class="container-box"></div>
        <div class="container-box"></div>
        <div class="container-box"></div>
        <div class="container-box"></div>
        <div class="container-box"></div>
        <div class="container-box"></div>
      </div>
    </div>
    <div id="right-container">
      <div class="container-row">
        <div class="container-box"></div>
        <div class="container-box"></div>
      </div>
      <div class="container-row">
        <div class="container-box"></div>
        <div class="container-box"></div>
      </div>
    </div>
  </div>





  <div id="demo">
    <%= image_tag "box.png", :id=>"box", :class=>"outside"%>
  </div>