
	<div class='loader'>
        <%= image_tag("loading.gif") %>
    </div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
	<div class="parentContainer">
        <header>
        	<div class="siteName">
        		<a href="#" class="bft-logo">
                    <%= image_tag("bft-logo.png") %>
                </a>
        		<h1><a href="#">Transit / Transit Connect Racks &amp; Bins Configurator</a></h1>
        	</div>
        	<div class="assistance">
        		<a href="#">Live Assistance</a>
        	</div>        
	        <nav class="mainNav">
	        	<ul>
	        		<li><a href="#" class="upfitVehicle">Upfit a Vehicle</a></li>
	        		<li><a href="#">Upfit Brands</a></li>
	        		<li><a href="#">Commercial Tools</a></li>
	        		<li><a href="#">Contact Us</a></li>
	        		<li class="loginRegister"><a href="#">Login/Register</a>
	        			<ul>
	                		<li><a href="#">Account Registration</a></li>
	        				<li><a href="#">Account Login</a></li>
	        				<li><a href="#">Forgot Password?</a></li>
	        			</ul>
	        		</li>
	        	</ul>
	        </nav>
		</header>
		<div class="mainContainer">

		</div>
	</div>
	<footer>
		<div class="stepNav">
			<ul>
				<li class="step1"><a href="#">Step 1:  Build transit model</a></li>
				<li class="step2"><a href="#">Step 2:  Configure Racks &amp; Bins</a></li>
				<li class="step3"><a href="#">Step 3:  Save Configuration</a></li>
			</ul>
		</div>
		<nav class="timeline">
		
		</nav>
		<nav class="footerNav">
			<ul>
				<li><a href="#">&copy; 2012 Ford Motor Company</a></li>
				<li><a href="#">Site Map</a></li>
				<li><a href="#">Glossary</a></li>
				<li><a href="#">Site Feedback</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Live Chat</a></li>
				<li><a href="#">Terms &amp; Conditions</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Ford Go Further</a></li>
			</ul>
		</nav>
	</footer>
