		<div id="upfitVehicleContent">
			<h1>How you configure it is your business.</h1>
			<h2>Customize your Transit Van with these upfit packages.</h2>
			<div class="garageSprite">
				
			</div>
		</div>
