		<ul id="upfitVehicleTimeline">
			<li class="back"><a href="#">Back</a></li>
			<li><a href="#">Street Side View</a></li>
			<li><a href="#">Curb Side View</a></li>
			<li><a href="#">Rear View</a></li>
			<li><a href="#">Partition View</a></li>
			<li><a href="#">Roof View</a></li>
			<li class="next"><a href="#">Next</a></li>
		</ul>
