
<p id="notice"><%= notice %></p>

<div id="Vehicle">
  <%= image_tag @vehicle.image_url %>
</div>


<div id="Accessories">
  <% @accessories.each do |accessory| %>
    <%= image_tag accessory.image_url, :class=>"Accessory2", :id=>accessory.name.gsub(/\s+/, "") %>
  <% end %>
</div>

<div id="droparea_divs">
  <% @vehicle.dropareas.each do |droparea| %>
    <div class="droparea_div" style="<%=get_style2(droparea)%>">
    </div>
  <% end %>
</div>