#draggable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}
#demo {
  border:solid;
  clear:both;
  margin-top:150px;
}
#container {
  position:absolute;
  top:0px;
  left:0px;
  z-index:-1;
}

.container-row{
  height: 15px;
  margin-bottom:40px;
}
.container-box {
  border:none;
  width: 28px;
  height: 24px;
  float:left;
  margin-left:4px;
}
.ui-state-active
  {
  background-color:red;
  opacity:.4;
}

#outer-shell {
  margin-top:48px;
  margin-left:18px;
  width:600px;
  height: 100px;
}
#left-container {
  float:left;
}
#mid-container {
  margin-left:42px;
  float:left;
}
#mid-container .container-box {
  margin-left:12px;
}

#right-container {
  margin-left:45px;
  float:left;
}